<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/Artisant-Anas.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  <title>Document</title>
</head>

<body>
  <header>
    <div class="w-lg-75 mx-2 mx-lg-auto position-relative z-2 px-lg-3 py-0 shadow-5 bg-dark">
      <nav class="fixed-top navbar navbar-expand-lg navbar-dark p-0" id="navbar">
        <div class="container px-sm-0">
          <a class="navbar-brand d-inline-block w-lg-64" href="index.html" style="height: 10vh;">
            <div class="d-flex flex-column align-items-center" style="height: 100%;">
              <img style="height: 50%;" src="/img/logo-senaat.png" alt="">
              <div style="line-height: 1.7vh; font-size: smaller;">Senaat <br>Beladi</div>
            </div>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav gap-3 mx-lg-auto">
              <li class="nav-item ">
                <a class="nav-link rounded-pill" href="index.html" aria-current="page">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link rounded-pill" href="marketplace.html">Marketplace</a>
              </li>
              <li class="nav-item">
                <a class="nav-link rounded-pill" href="Artisan-Anas.html">Artisant</a>
              </li>
              <li class="nav-item">
                <a class="nav-link rounded-pill" href="musee.html">Musee</a>
              </li>
            </ul>
            <div class="navbar-nav align-items-lg-center justify-content-end gap-2 ms-lg-4 w-lg-64">
              <a href="sign-login-Anas.html" class="btn btn-sm btn-white nav-link border-0 rounded-pill w-100 w-lg-auto mb-4 mb-lg-0"
                id="lastElementInNavbar">Get started</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <!-- <nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
    <a class="navbar-brand center" href="#">Logo</a>
    <div class="navbar-collapse d-flex justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-justify" href="index.html">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="marketplace.html">Marketplace</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Artisan-Anas.html">Artisant</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Musee</a>
            </li>
        </ul>
    </div>
    <a class="nav-link text-light" href="#">Commencer</a>
    <div class="burger-icon " id="burger-icon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="close-icon" id="close-icon">
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</nav> -->

  <div class="text-center hero-section container-fluid">
    <h1 class="hero-title">Senaat Beladi</h1>
    <h1 class="hero-title">Artisant</h1>
    <p>Ta passion. Notre but.</p>
    <button id="sign-btn" class="btn-hero">S'abonner</button>
  </div>


  <div class="artisant-reconnu d-flex flex-column align-items-center container-fluid text-center">
    <h1>Artisans traditionnels reconnus</h1>
    <div class="profile-reconnu container-fluid row">
      <div class="profil-cards-top col-9">
        <div class="col artisant-reconnu-card d-flex flex-column align-items-baseline">
          <img src="/img/image 6.png" alt="">
          <h4>Name Lastname</h4>
          <p>FEZ 1988</p>
          <p>350 œuvres d'art</p>
        </div>
        <div class="col artisant-reconnu-card d-flex flex-column align-items-baseline">
          <img src="/img/reconnu6.webp" alt="">
          <h4>Name Lastname</h4>
          <p>FEZ 1988</p>
          <p>350 œuvres d'art</p>
        </div>
        <div class="col artisant-reconnu-card d-flex flex-column align-items-baseline">
          <img src="/img/reconnu2.webp" alt="">
          <h4>Name Lastname</h4>
          <p>FEZ 1988</p>
          <p>350 œuvres d'art</p>
        </div>
      </div>

      <div class="profil-cards-bottom col-9">
        <div class="artisant-reconnu-card d-flex flex-column align-items-baseline">
          <img src="/img/reconnu3.webp" alt="">
          <h4>Name Lastname</h4>
          <p>FEZ 1988</p>
          <p>350 œuvres d'art</p>
        </div>
        <div class="artisant-reconnu-card d-flex flex-column align-items-baseline">
          <img src="/img/reconnu4.webp" alt="">
          <h4>Name Lastname</h4>
          <p>FEZ 1988</p>
          <p>350 œuvres d'art</p>
        </div>
        <div class="artisant-reconnu-card d-flex flex-column align-items-baseline">
          <img src="/img/reconnu5.webp" alt="">
          <h4>Name Lastname</h4>
          <p>FEZ 1988</p>
          <p>350 œuvres d'art</p>
        </div>
      </div>
    </div>
    <hr class="container-fluid" style="width: 80%;">
  </div>

  <div class="categorie-section">
    <h1 class="text-center">Categories</h1>

    <section class="pt-5 pb-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <h3 class="mb-3">Poterie et céramique</h3>
          </div>
          <div id="carouselPotIndicators" class="carousel slide carousel-light pot-slider " data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselPotIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type button data-bs-target="#carouselPotIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row" style="flex-wrap: nowrap;">

                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/pot1.jpg" style="height: 35vh;">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>

                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid " alt="100%x280" src="/img/pot2.jpg" style="height: 35vh;">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/pot3.png" style="height: 35vh;">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="carousel-item">
                <div class="row" style="flex-wrap: nowrap;">

                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/pot44.png" style="height: 35vh;">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>

                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/pot5.jpg" style="height: 35vh;">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/pot6.jpg" style="height: 35vh;">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPotIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPotIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
    </section>

    <section class="pt-5 pb-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <h3 class="mb-3">Metal</h3>
          </div>
          <div id="carouselMetalIndicators" class="carousel slide carousel-light metal-slider " data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselMetalIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type button data-bs-target="#carouselMetalIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row" style="flex-wrap: nowrap;">

                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/metal1.png">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>

                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid " alt="100%x280" src="/img/metal2.png">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/metal3.png">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="carousel-item">
                <div class="row" style="flex-wrap: nowrap;">

                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/metal4.jpg">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>

                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/metal5.jpg">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/metal6.jpg">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselMetalIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselMetalIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
    </section>

    <section class="pt-5 pb-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <h3 class="mb-3">Tapis et moquettes</h3>
          </div>
          <div id="carouselTapisIndicators" class="carousel slide carousel-light tapis-slider " data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselTapisIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type button data-bs-target="#carouselTapisIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row" style="flex-wrap: nowrap;">

                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/tapi1.png">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>

                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/tapi2.png">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/tapi3.png">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="carousel-item">
                <div class="row" style="flex-wrap: nowrap;">

                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/tapi4.png">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>

                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/tapi5.jpg">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/tapi6.jpg">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselTapisIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselTapisIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
    </section>

    <section class="pt-5 pb-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <h3 class="mb-3">Cuir</h3>
          </div>
          <div id="carouselCuirIndicators" class="carousel slide carousel-light cuir-slider " data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselCuirIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type button data-bs-target="#carouselCuirIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row" style="flex-wrap: nowrap;">

                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/cuir1.png">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>

                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/cuir2.png">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/cuir3.png">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="carousel-item">
                <div class="row" style="flex-wrap: nowrap;">

                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/cuir4.jpg">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>

                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/cuir5.jpg">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid" alt="100%x280" src="/img/cuir6.jpg">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCuirIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselCuirIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
    </section>

    <section class="pt-5 pb-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <h3 class="mb-3">Sculpture de bois</h3>
          </div>
          <div id="carouselBoisIndicators" class="carousel slide carousel-light bois-slider " style="width: 100%;"
            data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselBoisIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type button data-bs-target="#carouselBoisIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row" style="flex-wrap: nowrap;">

                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid card-img" alt="100%x280" src="/img/bois1.png">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>

                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid card-img" alt="100%x280" src="/img/bois2.jpg">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid card-img" alt="100%x280" src="/img/bois3.jpg">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="carousel-item">
                <div class="row" style="flex-wrap: nowrap;">

                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid card-img" alt="100%x280" src="/img/bois4.jpg">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>

                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid card-img" alt="100%x280" src="/img/bois5.jpg">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card text-dark">
                      <img class="img-fluid card-img" alt="100%x280" src="/img/bois6.jpg">
                      <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselBoisIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselBoisIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
    </section>
  </div>

  <section class="spotlight-section container-fluid text-center justify-content-center">
    <h1>Artisan spotlight</h1>
    <p>Bienvenue dans la maison de l'artisanat</p>
    <div class="spotlight d-flex flex-column align-items-center">
      <div class="top-spotlight d-flex align-items-center">
        <div class="spotlight-img"><img src="/img/got.webp" alt=""></div>
        <div class="spotlight-txt">
          <div class="txt-top">
            <h1>Senaat Beladi's Got <span><b>Talent</b></span></h1>
          </div>
          <div class="txt-btm d-flex flex-column align-items-baseline text-right">
            <h3>Said Aabilla</h3>
            <p><span class="init"> Manufacture:</span> Moderne</p>
            <p><span class="init">Né:</span> December 8, 1997; Marrakech</p>
            <p><span class="init">Categorie:</span> Cuir & Sculpture de bois</p>
            <p><span class="init">Influence par:</span> Davinci, lmaalem Hassan</p>
            <p><span class="init">Institition:</span> Travaux pratique, FEZ</p>
          </div>
        </div>
      </div>
      <div class="bottom-spotlight d-flex flex-column align-items-center justify-content-center container-fluid">
        <div class="article">
          <p>Diego Rivera was an outspoken member of the Mexican communist party and husband to painter Frida Kahlo.
            Rivera began drawing at the age of three, one year after the death of his twin brother Carlos. His father
            built him a studio with chalkboard and canvas on the walls to keep him from drawing on the walls and
            furniture. At the age of ten, he studied at the Academy of San Carlos, and at the age of 21 was sponsored by
            the governor of Veracruz to study art in Europe. While in Europe, he traveled and studied in Madrid, Paris,
            and Italy, and befriended many of the famous Paris artists of the time</p>
        </div>
        <div class="echantillon d-flex flex-column align-items-center justify-content-center">
          <h4>Echantillons</h4>
          <div class="echatillon-pics d-flex justify-content-center align-items-center ">
            <div class="ech-pic"><img id="ech-pic1" src="/img/ech1.webp" alt=""></div>
            <div class="ech-pic "><img id="ech-pic2" src="/img/ech2.webp" alt=""></div>
            <div class="ech-pic "><img id="ech-pic3" src="/img/ech3.png" alt=""></div>
          </div>
          <p>Vous trouvez ces articles et plus sur <b id="marketLink">Marketplace</b></p>
          <button id="marketplaceBtn" class="btn-hero">Marketplace</button>
        </div>
      </div>
    </div>
  </section>

  <section class="subscribe-section container-fluid d-flex flex-column align-items-center">
    <h3>Rejoignez notre tribu</h3>
    <p>A la fin de chaque semaine, le plus talentueux sera sélectionnée</p>
    <form action="" class="sign-form d-flex align-items-center">
      <div class="inputArea d-flex flex-column align-items-center">
        <label for="email"></label>
        <input type="email" id="email" name="email" class="mail-input" placeholder="Entrer votre mail">
        <span class="errmsg">Invalide email!!</span>
      </div>
      <input class="btn-hero" type="submit" value="S'abonner">
    </form>
  </section>

  <div class="modal fade" id="modalArticle11" tabindex="-1" aria-labelledby="modalArticle1Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalArticle1Label">Articles recents</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-content d-flex flex-column align-items-center">
          <!-- Blog content goes here -->
          <h6 class="text-center">Hello World</h6>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, laborum. In ipsum expedita non, Lorem ipsum
            dolor sit amet consectetur, adipisicing elit. Ex magnam exercitationem, voluptatum repellat quod impedit
            libero ea, perspiciatis neque nam quibusdam inventore nostrum id explicabo quia eos consequatur, omnis
            accusantium! nam ad error earum rem sit quisquam mollitia. Maiores accusamus quaerat non quos voluptates
            ducimus vitae!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalArticle12" tabindex="-1" aria-labelledby="modalArticle2Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalArticle2Label">Articles recents</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-content d-flex flex-column align-items-center">
          <!-- Blog content goes here -->
          <h6 class="text-center">Hello World</h6>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Est deleniti quasi excepturi placeat ad, eligendi voluptatibus dolor? Voluptate beatae impedit neque
            in mollitia veritatis quo accusantium optio quas nulla. Quidem? Pariatur earum quae obcaecati minima fugit
            veniam perferendis modi omnis voluptatibus deserunt, accusantium, labore ipsa eaque aspernatur, nam
            inventore cupiditate ullam laudantium.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalArticle13" tabindex="-1" aria-labelledby="modalArticle3Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalArticle3Label">Articles recents</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-content d-flex flex-column align-items-center">
          <!-- Blog content goes here -->
          <h6 class="text-center">Hello World</h6>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Dolorum ullam, voluptates quos voluptas officiis nisi animi earum mollitia ipsam dicta nam
            quam alias ducimus maiores doloremque et reprehenderit autem hic. Maiores vel laborum nihil quae architecto,
            aut ab sunt a vero aliquam doloribus recusandae dolorem itaque blanditiis optio quasi provident ea
            voluptatum.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalArticle14" tabindex="-1" aria-labelledby="modalArticle4Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalArticle4Label">Articles recents</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-content d-flex flex-column align-items-center">
          <!-- Blog content goes here -->
          <h6 class="text-center">Hello World</h6>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Dolorum ullam, voluptates quos voluptas officiis nisi animi earum mollitia ipsam dicta nam
            quam alias ducimus maiores doloremque et reprehenderit autem hic. Maiores vel laborum nihil quae architecto,
            aut ab sunt a vero aliquam doloribus recusandae dolorem itaque blanditiis optio quasi provident ea
            voluptatum.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalBlog1" tabindex="-1" aria-labelledby="modalBlog1Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalBlog1Label">Contacts Spotlight</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-content d-flex flex-column align-items-center">
          <!-- Blog content goes here -->
          <h6 class="text-center">Vous connecter à une carrière dans le divertissement</h6>
          <img src="/img/blog-pic.png" alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, laborum. In ipsum expedita non, Lorem ipsum
            dolor sit amet consectetur, adipisicing elit. Ex magnam exercitationem, voluptatum repellat quod impedit
            libero ea, perspiciatis neque nam quibusdam inventore nostrum id explicabo quia eos consequatur, omnis
            accusantium! nam ad error earum rem sit quisquam mollitia. Maiores accusamus quaerat non quos voluptates
            ducimus vitae!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalBlog2" tabindex="-1" aria-labelledby="modalBlog2Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalBlog2Label">Soutenir nos Membres</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-content d-flex flex-column align-items-center">
          <!-- Blog content goes here -->
          <h6 class="text-center">Mental health and wellbeing resources catered to creatives</h6>
          <img src="/img/blog-pic2.png" alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Est deleniti quasi excepturi placeat ad, eligendi voluptatibus dolor? Voluptate beatae impedit neque
            in mollitia veritatis quo accusantium optio quas nulla. Quidem? Pariatur earum quae obcaecati minima fugit
            veniam perferendis modi omnis voluptatibus deserunt, accusantium, labore ipsa eaque aspernatur, nam
            inventore cupiditate ullam laudantium.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalBlog3" tabindex="-1" aria-labelledby="modalBlog3Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalBlog3Label">L’industrie</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-content d-flex flex-column align-items-center">
          <!-- Blog content goes here -->
          <h6 class="text-center">Exposition d’un salon de l’artisanat marocaine au brezil</h6>
          <img src="/img/blog-pic3.png" alt="">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Dolorum ullam, voluptates quos voluptas officiis nisi animi earum mollitia ipsam dicta nam
            quam alias ducimus maiores doloremque et reprehenderit autem hic. Maiores vel laborum nihil quae architecto,
            aut ab sunt a vero aliquam doloribus recusandae dolorem itaque blanditiis optio quasi provident ea
            voluptatum.</p>
        </div>
      </div>
    </div>
  </div>

  <section class="blog-section container-fluid d-flex flex-column align-items-center">
    <h1>Blog & stories</h1>
    <div class="content d-flex">
      <div class="articles">
        <h2>Articles recents</h2>
        <div class="articles-txt">
          <h4 data-bs-toggle="modal" data-bs-target="#modalArticle11">Hello World</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi temporibus impedit, nesciunt nulla ex
            perferendis molestias sed repudiandae voluptatem itaque quae laborum a dolore iusto! Esse iure velit earum
            quaerat?<a href="#" data-bs-toggle="modal" data-bs-target="#modalArticle11">Savoir plus</a></p>

        </div>
        <div class="articles-txt">
          <h4 data-bs-toggle="modal" data-bs-target="#modalArticle12">Hello World</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi temporibus impedit, nesciunt nulla ex
            perferendis molestias sed repudiandae voluptatem itaque quae laborum a dolore iusto! Esse iure velit earum
            quaerat?
            <a href="#" data-bs-toggle="modal" data-bs-target="#modalArticle12">Savoir plus</a>
          </p>
        </div>
        <div class="articles-txt">
          <h4 data-bs-toggle="modal" data-bs-target="#modalArticle13">Hello World</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi temporibus impedit, nesciunt nulla ex
            perferendis molestias sed repudiandae voluptatem itaque quae laborum a dolore iusto! Esse iure velit earum
            quaerat?
            <a href="#" data-bs-toggle="modal" data-bs-target="#modalArticle13">Savoir plus</a>
          </p>
        </div>
        <div class="articles-txt">
          <h4 data-bs-toggle="modal" data-bs-target="#modalArticle14">Hello World</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi temporibus impedit, nesciunt nulla ex
            perferendis molestias sed repudiandae voluptatem itaque quae laborum a dolore iusto! Esse iure velit earum
            quaerat?
            <a href="#" data-bs-toggle="modal" data-bs-target="#modalArticle14">Savoir plus</a>
          </p>
        </div>
      </div>
      <div class="stories d-flex flex-column">
        <div class="blog d-flex">
          <div class="blog-pic"><img src="/img/blog-pic.png" alt=""></div>
          <div class="blog-txt">
            <h2 data-bs-toggle="modal" data-bs-target="#modalBlog1">Contacts Spotlight</h2>
            <h4>Vous connecter à une carrière dans le divertissement </h4>
            <p id="content1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, provident architecto quia
              fuga, illo
              iusto velit ex hic magnam rem fugit dolore, dolores harum ab maiores debitis iste impedit aut. Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Dolor officia facilis mollitia amet eveniet dolores velit.
              Aperiam necessitatibus, porro dolore eum repellendus iusto totam, ab aspernatur, ipsum excepturi nihil a?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, provident! Tenetur quo adipisci
              omnis libero sit ipsa repellendus mollitia nemo deleniti minima ab ullam ea doloremque, veniam iure?
              Possimus, repellendus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptas libero
              iusto soluta. Ea molestias accusamus illo, vero optio nesciunt, quas officia facilis voluptatem sunt esse
              hic dignissimos suscipit libero?</p>
            <a href="#" class="toggleLink" data-target="content1">Voir plus</a>
          </div>
        </div>
        <div class="blog d-flex">
          <div class="blog-pic"><img src="/img/blog-pic2.png" alt=""></div>
          <div class="blog-txt">
            <h2 data-bs-toggle="modal" data-bs-target="#modalBlog2">Soutenir nos Membres</h2>
            <h4>Mental health and wellbeing resources catered to creatives</h4>
            <p id="content2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis vero fuga ea nobis
              repellat? Ut,
              reiciendis iure eos minima, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum ea ab, error
              in voluptatum veniam earum ratione accusantium qui quibusdam suscipit. Nulla quos, quaerat mollitia illum
              quis nam molestias tempore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea repudiandae
              recusandae, repellendus commodi deserunt omnis odio deleniti consequatur animi temporibus beatae fuga est
              reprehenderit assumenda inventore minima laboriosam sunt dignissimos. Lorem ipsum dolor sit, amet
              consectetur adipisicing elit. Nostrum hic quo eligendi vel porro quae amet omnis! Totam ullam perferendis
              modi facilis tempora, a eveniet voluptates, et officia laudantium eius! et, eligendi ipsam possimus
              molestias dolorum culpa esse inventore deleniti
              quasi?</p>
            <a href="#" class="toggleLink" data-target="content2">Voir plus</a>
          </div>
        </div>
        <div class="blog d-flex">
          <div class="blog-pic"><img src="/img/blog-pic3.png" alt=""></div>
          <div class="blog-txt">
            <h2 data-bs-toggle="modal" data-bs-target="#modalBlog3">L’industrie</h2>
            <h4>Exposition d’un salon de l’artisanat marocaine au brezil </h4>
            <p id="content3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab ex, blanditiis provident
              beatae libero dolor
              repellendus odio architecto inventore dicta illo soluta quas Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Obcaecati nam, a impedit, fugiat necessitatibus magni iure labore modi explicabo, nulla
              perspiciatis ex ipsam deleniti perferendis blanditiis. Perspiciatis, cum maiores. Error. Lorem ipsum dolor
              sit amet consectetur adipisicing elit. Ipsa quos placeat itaque beatae. Minima, odit magni temporibus, ad
              molestiae quos natus officia rerum deleniti quia quae vel voluptatum eveniet obcaecati. Lorem ipsum dolor
              sit amet consectetur, adipisicing elit. Non omnis consequatur eveniet adipisci eius et distinctio? Id
              nobis rerum deleniti repellendus corrupti at, laborum vero sapiente dolorem aspernatur? Quis, nulla! vel
              quis recusandae quae molestias a aliquam.
            </p>
            <a href="#" class="toggleLink" data-target="content3">Voir plus</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sponsor-section container-fluid d-flex flex-column align-items-center">
    <h1>Nos sponsors</h1>
    <div class="sponsor-logo d-flex">
      <img src="/img/google-logo.png" alt="">
      <img src="/img/paypal-logo.png" alt="">
      <img src="/img/youcode-logo.png" alt="">
      <img src="/img/artisanat-logo.png" alt="">
    </div>
  </section>

  <footer class="container-fluid my-5" style="background-color: #001524;">
    <div class="text-center text-lg-start text-white">
      <!-- style="background-color: #45526e -->
      <div class="container p-4 pb-0">
        <section class="">
          <div class="row">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <div id="footer-logo" class="d-flex align-items-baseline logo-footer">
                <img src="/img/logo-senaat.png" alt="" style="height: 50%;">
                <h6 class="text-uppercase mb-4 font-weight-bold"> Sanaat Beladi </h6>
              </div>
              <p>
                Plongez dans le monde vibrant de l'artisanat marocain.
                Chez Sanaat Beladi, nous vous proposons une sélection
                de trésors authentiques.
              </p>
            </div>
            <hr class="w-100 clearfix d-md-none" />
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Pages</h6>
              <p>
                <a href="index.html" class="text-white">Accueil</a>
              </p>
              <p>
                <a href="marketplace.html" class="text-white">Marketplace</a>
              </p>
              <p>
                <a href="Artisan-Anas.html" class="text-white">Artisant</a>
              </p>
              <p>
                <a href="musee.html" class="text-white">Musee</a>
              </p>
            </div>
            <hr class="w-100 clearfix d-md-none" />
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                Useful links
              </h6>
              <p>
                <a href="sign-login-Anas.html" class="text-white">Your Account</a>
              </p>
              <p>
                <a href="sign-login-Anas.html" class="text-white">Get started</a>
              </p>
              <p>
                <a class="text-white">Shipping Rates</a>
              </p>
              <p>
                <a class="text-white">Help</a>
              </p>
            </div>
            <hr class="w-100 clearfix d-md-none" />
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <p><i class="fas fa-home mr-3"></i> Youssofia, 6FWH+X8 Youssoufia, Morocco</p>
              <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 212 6 00 00 00 00</p>
              <p><i class="fas fa-print mr-3"></i> + 212 6 00 00 00 00</p>
            </div>
          </div>
        </section>
        <hr class="my-3">
        <section class="p-3 pt-0">
          <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8 text-center text-md-start">
              <div class="p-3">
                © 2023 Copyright: 2b || !2b
                <a class="text-white" href="#"></a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </footer>

  <!-- <div class="container-fluid footer-section">
    <footer class="row row-cols-5 py-5 border-top">
      <div class="col">
        <h3>LOGO</h3>
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
        <p class="sous-logo">Conditions d'utilisation | Confidentialité</p>
        <p class="">© 2023</p>
         <p class="text-muted">© 2023</p> -->
  <!-- </div>

      <div class="col">
        <h5>Mon compte</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Centre support</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Service client</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">A propos de nous</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Droits d’auteur</a></li>
        </ul>
      </div>

      <div class="col">
        <h5>A propos</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Politique de retour</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Politique de confidentialité</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Termes et conditions</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Plan de site</a></li>
        </ul>
      </div>

      <div class="col">
        <h5>Nos information</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Enquete de presse</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Réseaux sociaux</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Répertoires</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Images & B-roll</a></li>
        </ul>
      </div>

      <div class="col">
        <h5>Contact</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Facebook</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Twitter</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Instagram</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Dribble</a></li>
        </ul>
      </div>
    </footer>
  </div> -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="js/artisant-Anas.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>